.super-mario{
    width: 300px;
    position: absolute;
    left: 100px;
}

.goomba{
    width: 200px;
    position: absolute;
    left: 150px;
    top: 550px;
}

.bowser{
    width: 600px;
    position: absolute;
    left: 600px;
}

.baloon{
    position: absolute;
    left: 380px;
    z-index: 1;
}

.word{
    position: absolute;
    font-size: 25px;
    left: 400px;
    top: 120px;
    z-index: 2;
}