h1 {
    font-size: 65px;
    background-color: orange;
    font-family: sans-serif;
    text-align: center;
}

ul {
    background-color: palegreen;
    line-height: 30px;
    text-decoration: purple;
}

p{
    font-weight: 600;
    font-size: 3em;
    font-style: italic;
    text-align: center;
}

body{
    font-size: 16px;
}

.fundo{
    background-color:white;
}

#amarelo{
    background-color: yellow;
}

#marrom{
    background-color: brown;
}

#vermelho{
    background-color: red;
}
