fieldset {
  width: 40%;
  margin: 0 auto;
}

.display-3 {
  text-align: center;
}

label {
  font-size: 25px;
}

.form-select {
  font-size: 25px; 
}

#floatingSelect {
  padding: 0 10px
}

option {
  font-size: 25px;
}

.form-floating {
  margin: 40px 0;
}

#inlineRadio1 {
  margin-right: 30px;
}

.form-control {
  resize: none;
}

.btn-outline-primary {
  margin: 30px 0 150px 0;
  padding: 10px 25px;
  font-size: 25px;
}

.radios {
  margin-top: 40px;
}