html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (min-width: 1700px) {
  body {
    font-family: Helvetica, sans-serif;
  }

  .main-content {
    margin: 40px auto;
    width: 80%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
  }

  header ul {
    display: flex;
  }

  header ul li{
    display: flex;
    flex-direction: row;
    padding: 0 40px;
  }

  #content-information {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aside-one {
    padding: 0 80px;
  }

  footer {
    background-color: rgb(241, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    padding: 0 30px;
    text-align: center;
    margin: 10px auto;
  }
}

@media screen and (max-width: 1700px) and (min-width: 1000px) {
  body {
    font-family: Helvetica, sans-serif;
  }

  .main-content {
    margin: 40px auto;
    width: 80%;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 25px;
  }

  header ul {
    display: flex;
  }

  header ul li{
    display: flex;
    flex-direction: row;
    padding: 0 40px;
  }

  #content-information {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aside-one {
    padding: 0 80px;
  }

  footer {
    background-color: rgb(241, 232, 232);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  footer p {
    padding: 0 30px;
    text-align: center;
    margin: 10px auto;
  }
}